{% if mssg %}
<script>
    alert('{{mssg}}');
</script>
{% endif %}

<html>
    <head>
        <title>Testing MySQL</title>
    </head>

    <body>
        <h1>Creating tuples in MySQL</h1>

        <form action="/" method="POST">
            {% csrf_token %}
            Employee name: <input type="name" name="name"><br>
            Email ID: <input type="email" name="emailID"><br>
            Country: <input type="name" name="country"><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>