{% load static %}
{% if message %}
<script>
    alert('{{ message }}');
</script>
{% endif %}
<!DOCTYPE html>
<html lang="zxx">

<head>        
        
        <!-- Meta -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
        
        <!-- Title -->
        <title>..:: RESEARCH RESOURCE PORTAL ::..</title>
        
        <!-- Favicon -->
        <link href="{% static 'images/favicon.ico' %}" rel="icon" type="image/x-icon" />
        <!-- <link href="{% static 'js/bootstrap.min.css' %}" rel="stylesheet"> -->
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7CLato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet" />
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
        
        <!-- Mobile Menu -->
        <link href="{% static 'css/mmenu.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/mmenu.positioning.css' %}" rel="stylesheet" type="text/css" />
        
        <!-- Stylesheet -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

    <body>
        
        <!-- Start: Header Section -->
        <header id="header-v1" class="navbar-wrapper">
            <div class="container">
                <div class="row">
                    <nav class="navbar navbar-default">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="navbar-header">
                                    <div class="navbar-brand">
                                        <h1>
                                            <a href="index-2.html">
                                                <img src="https://rvce.edu.in/sites/default/files/logo_0.png" alt="rvce logo" />
                                            </a>
                                        </h1>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <!-- Header Topbar -->
                                <div class="header-topbar hidden-sm hidden-xs">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="topbar-info">
                                                <a href="tel:+91 9876543210"><i class="fa fa-phone"></i>+91 9876543210</a>
                                                <span>/</span>
                                                <a href="mailto:support@rrp.com"><i class="fa fa-envelope"></i>support@rrp.com</a>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="topbar-links">
                                                <div class="header-cart dropdown">
                                                    {% if username %}
                                                        <a href="#"><i class="fa fa-user"></i>Hi, {{username}}
                                                        {% if admin %}
                                                         (ADMIN)
                                                        {% endif %}
                                                        </a>

                                                        <div class="dropdown-menu cart-dropdown">
                                                            <ul>
                                                                <li><a href="{% url 'user-resources' %}">Borrowed resources</a></li>
                                                            </ul>           
                                                            {% if admin %}
                                                            <ul>
                                                                <li><a href="{% url 'borrowed-resources' %}">Resource Logbook</a></li>
                                                            </ul>  
                                                            {% endif%}                                                 
                                                            <div class="cart-buttons">
                                                                {% if admin %}
                                                                <a href="{% url 'downloadLogs' %}" class="btn btn-dark-gray"><i class="fa fa-bars"></i> Logs</a>
                                                                {% else %}
                                                                <a href="cart.html" class="btn btn-dark-gray">View Profile</a>
                                                                {% endif %}
                                                                <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
                                                            </div>
                                                        </div>

                                                    {% else %}

                                                        <a href="{%  url 'signin' %}"><i class="fa fa-lock"></i>Login / Register</a>
                                                    {% endif %}   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="navbar-collapse hidden-sm hidden-xs">
                                    <ul class="nav navbar-nav">
                                        <li class="dropdown active">
                                            <a data-toggle="dropdown" class="dropdown-toggle disabled" href="index-2.html">Home</a>
                                            <!-- <ul class="dropdown-menu">
                                                <li><a href="index-2.html">Home V1</a></li>
                                                <li><a href="home-v2.html">Home V2</a></li>
                                                <li><a href="home-v3.html">Home V3</a></li>
                                            </ul> -->
                                        </li>
                                        <li class="dropdown">
                                            <a data-toggle="dropdown" class="dropdown-toggle disabled" href="{%  url 'generic-resources-list-view' %}">Resources</a>
                                            <!-- <ul class="dropdown-menu">
                                                <li><a href="generic-resources-list-view.html">Books &amp; Media List View</a></li>
                                                <li><a href="books-media-gird-view-v1.html">Books &amp; Media Grid View V1</a></li>
                                                <li><a href="books-media-gird-view-v2.html">Books &amp; Media Grid View V2</a></li>
                                                <li><a href="books-media-detail-v1.html">Books &amp; Media Detail V1</a></li>
                                                <li><a href="books-media-detail-v2.html">Books &amp; Media Detail V2</a></li>
                                            </ul> -->
                                        </li>
                                        <li><a href="services.html">Services</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="mobile-menu hidden-lg hidden-md">
                            <a href="#mobile-menu"><i class="fa fa-navicon"></i></a>
                            <div id="mobile-menu">
                                <ul>
                                    <li class="mobile-title">
                                        <h4>Navigation</h4>
                                        <a href="#" class="close"></a>
                                    </li>
                                    <li>
                                        <a href="index-2.html">Home</a>
                                        <!-- <ul>
                                            <li><a href="index-2.html">Home V1</a></li>
                                            <li><a href="home-v2.html">Home V2</a></li>
                                            <li><a href="home-v3.html">Home V3</a></li>
                                        </ul> -->
                                    </li>
                                    <li>
                                        <a href="generic-resources-list-view.html">Resources</a>
                                        <!-- <ul>
                                            <li><a href="generic-resources-list-view.html">Books &amp; Media List View</a></li>
                                            <li><a href="books-media-gird-view-v1.html">Books &amp; Media Grid View V1</a></li>
                                            <li><a href="books-media-gird-view-v2.html">Books &amp; Media Grid View V2</a></li>
                                            <li><a href="books-media-detail-v1.html">Books &amp; Media Detail V1</a></li>
                                            <li><a href="books-media-detail-v2.html">Books &amp; Media Detail V2</a></li>
                                        </ul> -->
                                    </li>
                                    <li>
                                        <a href="news-events-list-view.html">News &amp; Events</a>
                                        <!-- <ul>
                                            <li><a href="news-events-list-view.html">News &amp; Events List View</a></li>
                                            <li><a href="news-events-detail.html">News &amp; Events Detail</a></li>
                                        </ul> -->
                                    </li>
                                    <li>
                                        <a href="#">Pages</a>
                                        <!-- <ul>
                                            <li><a href="cart.html">Cart</a></li>
                                            <li><a href="checkout.html">Checkout</a></li>
                                            <li><a href="signin.html">Signin/Register</a></li>
                                            <li><a href="404.html">404/Error</a></li>
                                        </ul> -->
                                    </li>
                                    <li>
                                        <a href="blog.html">Blog</a>
                                        <!-- <ul>
                                            <li><a href="blog.html">Blog Grid View</a></li>
                                            <li><a href="blog-detail.html">Blog Detail</a></li>
                                        </ul> -->
                                    </li>
                                    <li><a href="services.html">Services</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <!-- End: Header Section -->
        
        <!-- Start: Page Banner -->
        <section class="page-banner services-banner">
            <div class="container">
                <div class="banner-header">
                    <h2>ADD RESOURCES</h2>
                    <span class="underline center"></span>
                    <p class="lead">Add new resources</p>
                </div>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="index-2.html">Home</a></li>
                        <li>Add Resources</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End: Page Banner -->
        <!-- Start: Cart Section -->
        <div id="content" class="site-content">
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <div class="signin-main">
                        <div class="container">
                            <div class="woocommerce">
                                <div class="woocommerce-login">
                                    <div class="company-info signin-register">
                                        
                                        <div class="col-md-5 border-dark new-user">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="company-detail new-account bg-light margin-right">
                                                        <div class="new-user-head">
                                                            <h2>ADD NEW RESOURCES</h2>
                                                            <span class="underline left"></span>
                                                            <br><br>
                                                        </div>
                                                        <form  action="/add-resource/" method="post" enctype="multipart/form-data">
                                                            {% csrf_token %}
                                                            <p class="form-row form-row-first input-required">
                                                                <input type="text" name="resourceName" placeholder="Resource Name *" required>
                                                            </p>
                                                            <p class="form-row input-required">
                                                                <input type="text" name="OEM" placeholder="OEM *" required>
                                                            </p>        
                                                            <p class="form-row input-required">
                                                                <input type="text" name="resourceType" placeholder="Resource type *" required>
                                                            </p>
                                                            <p class="form-row form-row-first input-required">
                                                                <input type="text" name="resourceDeptName" placeholder="Department name *" required>
                                                            </p>
                                                            <p class="form-row form-row-first input-required">
                                                                <input type="number" name="unitCost" placeholder="Unit Cost *">
                                                            </p>
                                                            <p class="form-row form-row-first input-required">
                                                                <input type="text" name="location" placeholder="Location *" required>
                                                            </p>
                                                            <p class="form-row form-row-first input-required">
                                                                <input class="calender-white" type="date" name="purchaseDate" placeholder="Purchase date *" required>
                                                            </p>
                                                            <p class="form-row form-row-first input-required">
                                                                <input type="number" name="quantity" placeholder="Quantity *" required>
                                                            </p>
                                                            <p class="form-row form-row-first input-required">
                                                                <input type="file" name="resImage" accept="image/*" required>
                                                            </p>
                                                            <p class="form-row form-row-first input-required">
                                                                <textarea name="about" rows="5" cols="50" placeholder="About the resource *" maxlength="1500" wrap="soft"></textarea>
                                                            </p>
                                                            <div class="clear"></div>
                                                            <input type="submit" value="Add Resource" name="signup" id="signupbtn" class="button btn btn-default">
                                                            <div class="clear"></div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <!-- End: Cart Section -->
        
        <!-- Start: Social Network -->
        <section class="social-network section-padding">
            <div class="container">
                <div class="center-content">
                    <h2 class="section-title">Follow Us</h2>
                    <span class="underline center"></span>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <ul>
                    <li>
                        <a class="facebook" href="#" target="_blank">
                            <span>
                                <i class="fa fa-facebook-f"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="twitter" href="#" target="_blank">
                            <span>
                                <i class="fa fa-twitter"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="google" href="#" target="_blank">
                            <span>
                                <i class="fa fa-google-plus"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="rss" href="#" target="_blank">
                            <span>
                                <i class="fa fa-rss"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="linkedin" href="#" target="_blank">
                            <span>
                                <i class="fa fa-linkedin"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="youtube" href="#" target="_blank">
                            <span>
                                <i class="fa fa-youtube"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <!-- End: Social Network -->
        
        <!-- Start: Footer -->
        <footer class="site-footer">
            <div class="container">
                <div id="footer-widgets">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 widget-container">
                            <div id="text-2" class="widget widget_text">
                                <h3 class="footer-widget-title">About Libraria</h3>
                                <span class="underline left"></span>
                                <div class="textwidget">
                                    It is a long established fact that a reader will be distracted by the readable content of a page when looking.
                                </div>
                                <address>
                                    <div class="info">
                                        <i class="fa fa-location-arrow"></i>
                                        <span>21 King Street, Melbourne, Victoria 3000 Australia</span>
                                    </div>
                                    <div class="info">
                                        <i class="fa fa-envelope"></i>
                                        <span><a href="mailto:support@libraria.com">support@libraria.com</a></span>
                                    </div>
                                    <div class="info">
                                        <i class="fa fa-phone"></i>
                                        <span><a href="tel:012-345-6789">+ 012-345-6789</a></span>
                                    </div>
                                </address>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 widget-container">
                            <div id="nav_menu-2" class="widget widget_nav_menu">
                                <h3 class="footer-widget-title">Quick Links</h3>
                                <span class="underline left"></span>
                                <div class="menu-quick-links-container">
                                    <ul id="menu-quick-links" class="menu">
                                        <li><a href="#">Library News</a></li>
                                        <li><a href="#">History</a></li>
                                        <li><a href="#">Meet Our Staff</a></li>
                                        <li><a href="#">Board of Trustees</a></li>
                                        <li><a href="#">Budget</a></li>
                                        <li><a href="#">Annual Report</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix hidden-lg hidden-md hidden-xs tablet-margin-bottom"></div>
                        <div class="col-md-2 col-sm-6 widget-container">
                            <div id="text-4" class="widget widget_text">
                                <h3 class="footer-widget-title">Timing</h3>
                                <span class="underline left"></span>
                                <div class="timming-text-widget">
                                    <time datetime="2017-02-13">Mon - Thu: 9 am - 9 pm</time>
                                    <time datetime="2017-02-13">Fri: 9 am - 6 pm</time>
                                    <time datetime="2017-02-13">Sat: 9 am - 5 pm</time>
                                    <time datetime="2017-02-13">Sun: 1 pm - 6 pm</time>
                                    <ul>
                                        <li><a href="#">Closings</a></li>
                                        <li><a href="#">Branches</a></li>
                                    </ul>
                                </div>
                            </div>			
                        </div>
                        <div class="col-md-4 col-sm-6 widget-container">
                            <div class="widget twitter-widget">
                                <h3 class="footer-widget-title">Latest Tweets</h3>
                                <span class="underline left"></span>
                                <div id="twitter-feed">
                                    <ul>
                                        <li>
                                            <p><a href="#">@TemplateLibraria</a> Sed ut perspiciatis unde omnis iste natus error sit voluptatem. <a href="#">template-libraria.com</a></p>
                                        </li>
                                        <li>
                                            <p><a href="#">@TemplateLibraria</a> Sed ut perspiciatis unde omnis iste natus error sit voluptatem. <a href="#">template-libraria.com</a></p>
                                        </li>
                                    </ul>
                                </div>
                            </div>			
                        </div>
                    </div>
                </div>                
            </div>
            <div class="sub-footer">
                <div class="container">
                    <div class="row">
                        <div class="footer-text col-md-3">
                            <p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p>
                        </div>
                        <div class="col-md-9 pull-right">
                            <ul>
                                <li><a href="index-2.html">Home</a></li>
                                <li><a href="generic-resources-list-view.html">Books &amp; Media</a></li>
                                <li><a href="news-events-list-view.html">News &amp; Events</a></li>
                                <li><a href="#">Kids &amp; Teens</a></li>
                                <li><a href="services.html">Services</a></li>
                                <li><a href="#">Research</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End: Footer -->
        
        <!-- jQuery Latest Version 1.x -->
        <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
        
        <!-- jQuery UI -->
        <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
        
        <!-- jQuery Easing -->
        <script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js' %}"></script>

        <!-- Bootstrap -->
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        
        <!-- Mobile Menu -->
        <script type="text/javascript" src="{% static 'js/mmenu.min.js' %}"></script>
        
        <!-- Harvey - State manager for media queries -->
        <script type="text/javascript" src="{% static 'js/harvey.min.js' %}"></script>
        
        <!-- Waypoints - Load Elements on View -->
        <script type="text/javascript" src="{% static 'js/waypoints.min.js' %}"></script>

        <!-- Facts Counter -->
        <script type="text/javascript" src="{% static 'js/facts.counter.min.js' %}"></script>

        <!-- MixItUp - Category Filter -->
        <script type="text/javascript" src="{% static 'js/mixitup.min.js' %}"></script>

        <!-- Owl Carousel -->
        <script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
        
        <!-- Accordion -->
        <script type="text/javascript" src="{% static 'js/accordion.min.js' %}"></script>
        
        <!-- Responsive Tabs -->
        <script type="text/javascript" src="{% static 'js/responsive.tabs.min.js' %}"></script>
        
        <!-- Responsive Table -->
        <script type="text/javascript" src="{% static 'js/responsive.table.min.js' %}"></script>
        
        <!-- Masonry -->
        <script type="text/javascript" src="{% static 'js/masonry.min.js' %}"></script>
        
        <!-- Carousel Swipe -->
        <script type="text/javascript" src="{% static 'js/carousel.swipe.min.js' %}"></script>
        
        <!-- bxSlider -->
        <script type="text/javascript" src="{% static 'js/bxslider.min.js' %}"></script>
        
        <!-- Custom Scripts -->
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
        
        <!-- <script src="https://www.gstatic.com/firebasejs/7.19.0/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.19.0/firebase-analytics.js"></script>
        <script defer src="https://www.gstatic.com/firebasejs/7.19.0/firebase-auth.js"></script> -->

    </body>


</html>
