{% extends 'base/base.html' %}
{% load static %}


{% block content %}
    <!-- Start: Page Banner -->
    <section class="page-banner services-banner">
        <div class="container">
            <div class="banner-header">
                <h2>Resources</h2>
                <span class="underline center"></span>
                <p class="lead">Find all the resources available here . </p>
            </div>
            <div class="breadcrumb">
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li>Resources</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- End: Page Banner -->

    <!-- Start: Book & Media Section -->
    <div id="content" class="site-content">
        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <div class="books-media-list">
                    <div class="container">
                        <div class="row">
                            <!-- Start: Search Section -->
                            <section class="search-filters">
                                <div class="container">
                                    <div class="filter-box">
                                        <h3>What are you looking for at the Portal?</h3>
                                        <form action="/generic-resources-list-view/" method="post">
                                            {% csrf_token %}
                                            <div class="col-md-4 col-sm-6">
                                                <div class="form-group">
                                                    <!-- <label class="sr-only" for="keywords">Search by Keyword</label> -->
                                                    <input class="form-control" placeholder="Search by Keyword"
                                                        id="keywords" name="keywords" type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6">
                                                <div class="form-group">
                                                    <!-- <label class="sr-only" for="keywords">Search by Resource ID</label> -->
                                                    <input class="form-control" placeholder="Search by Resource ID"
                                                        id="keywords" name="resourceID" type="text">
                                                </div>
                                            </div>
                                            <!-- <div class="col-md-4 col-sm-6">
                                                <div class="form-group"> -->
                                            <!-- <label class="sr-only" for="keywords">Search by Original Equipment manufacturer</label> -->
                                            <!-- <input class="form-control" placeholder="Search by Department"
                                                        id="keywords" name="departmentName" type="text">
                                                </div> -->
                                            <!-- </div> -->
                                            <div class="col-md-4 col-sm-6">
                                                <div class="form-group">
                                                    <select name="departmentName" required>
                                                        <option value="All departments">All departments</option>
                                                        <option value="ASE">Aerospace Engineering</option>
                                                        <option value="BT">Biotechnology</option>
                                                        <option value="CHE">Chemical Engineering</option>
                                                        <option value="CE">Civil Engineering</option>
                                                        <option value="CSE">Computer Science and Engineering</option>
                                                        <option value="EEE">Electrical and Electronics Engineering
                                                        </option>
                                                        <option value="ECE">Electronics and Communication Engineering
                                                        </option>
                                                        <option value="EIE">Electronics and Instrumentation Engineering
                                                        </option>
                                                        <option value="IEM">Industrial Engineering and Management
                                                        </option>
                                                        <option value="ISE">Information Science and Engineering</option>
                                                        <option value="MCA">Master of Computer Applications</option>
                                                        <option value="ME">Mechanical Engineering</option>
                                                        <option value="TE">Electronics and Telecommunication Engineering
                                                            (Telecommunication Engineering)</option>
                                                        <option value="BS">Basic Sciences</option>
                                                        <option value="AI&ML">Artificial Intelligence & Machine Learning
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>

                                            {% if admin %}
                                            <div class="col-md-4 col-sm-6">
                                                <div class="form-group">
                                                    <!-- <label class="sr-only" for="keywords">Search by Resource ID</label> -->
                                                    <input class="form-control" placeholder="Cost (Upper bound)"
                                                        id="keywords" name="costUpperBound" type="number">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6">
                                                <div class="form-group">
                                                    <!-- <label class="sr-only" for="keywords">Search by Resource ID</label> -->
                                                    <input class="form-control" placeholder="Cost (Lower bound)"
                                                        id="keywords" name="costLowerBound" type="number">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6">
                                                <div class="form-group">
                                                    <input class="form-control" placeholder="Purchase date"
                                                        id="keywords" name="purchaseDate" type="date">
                                                </div>
                                            </div>
                                            {% endif %}
                                            <div class="col-md-2 col-sm-6">
                                                <div class="form-group">
                                                    <input class="form-control" type="submit" value="Search">
                                                </div>
                                            </div>
                                            <br><br><br><br>
                                            {% if searchedQuery %}
                                            <strong>Showing results for</strong>
                                            {% if searchedQuery.keywords %}

                                            "{{searchedQuery.keywords}}"
                                            {% endif %}

                                            {% if searchedQuery.resourceID %}
                                            <strong>Resource ID =</strong> {{searchedQuery.resourceID}}
                                            {% endif %}

                                            {% if searchedQuery.departmentName %}
                                            <strong>Department Name as</strong> {{searchedQuery.departmentName}}
                                            {% endif %}

                                            {% if admin %}
                                            <br>
                                            {% if searchedQuery.costLowerBound %}
                                            <strong>Minimum cost</strong> = {{searchedQuery.costLowerBound}}
                                            {% endif %}

                                            {% if searchedQuery.costUpperBound %}
                                            <strong>Maximum cost</strong> = {{searchedQuery.costUpperBound}}
                                            {% endif %}

                                            {% endif %}
                                            <!-- {% if searchedQuery.resourceID %}
                                            Resource ID = {{searchedQuery.resourceID}}
                                            {% endif %} -->
                                            {% endif %}
                                            <br>
                                            <!-- <a href="{% url 'print-searched-query' %}">Print</a> -->

                                        </form>
                                        {% if admin %}
                                        <form action="/print-searched-query" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="query" value={{resources}}>
                                            <!-- {{resources}} -->
                                            <input class="form-control" value="{{searchedQuery.resourceID}}"
                                                name="resourceID" type="hidden">
                                            <input class="form-control" value="{{searchedQuery.keywords}}"
                                                name="keywords" type="hidden">
                                            <input class="form-control" value="{{searchedQuery.departmentName}}"
                                                name="departmentName" type="hidden">
                                            <input class="form-control" value="{{searchedQuery.costUpperBound}}"
                                                name="costUpperBound" type="hidden">
                                            <input class="form-control" value="{{searchedQuery.costLowerBound}}"
                                                name="costLowerBound" type="hidden">
                                            <input class="form-control" value="{{searchedQuery.purchaseDate}}"
                                                name="purchaseDate" type="hidden">
                                            <input type="submit" class="pull-right" value="Print"></input>
                                        </form>
                                        {% endif %}
                                    </div>
                                </div>
                            </section>
                            <!-- End: Search Section -->
                        </div>
                        <div class="row">
                            <div class="col-md-9 col-md-push-3">
                                <div class="filter-options margin-list">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">
                                            <select name="orderby">
                                                <option selected="selected">Default sorting</option>
                                                <option>Sort by popularity</option>
                                                <option>Sort by rating</option>
                                                <option>Sort by newness</option>
                                                <option>Sort by price</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <!-- <div class="filter-result">Showing items 1 to 9 of 19 total
                                                </div> -->
                                        </div>
                                        <div class="col-md-3 col-sm-3 pull-right">
                                            <div class="filter-toggle">
                                                <!-- <a href="books-media-gird-view-v1.html"><i class="glyphicon glyphicon-th-large"></i></a> -->
                                                <a href="{% url 'generic-resources-list-view' %}" class="active"><i
                                                        class="glyphicon glyphicon-th-list"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="books-list">
                                    {% if not resources %}
                                    <h3>Sorry, BUT No resource details matches your search!!!</h3>
                                    {% else %}
                                    <br><br><br><br><br>
                                    {% for resource in resources %}
                                    <ul class="resourcelist">
                                        <div class="row">
                                        <section>
                                            <div class="single-book-box">
                                                <div class="post-thumbnail">
                                                    <div class="book-list-icon yellow-icon"></div>
                                                    {% if resource.image %}
                                                    <!-- <a href="#"> -->
                                                        <img alt="Book" src='{{ resource.image.url }}'
                                                            class="prod-image" style="object-fit:fill;
                                                            width:300px;
                                                            height:auto;">
                                                            <!-- </a> -->
                                                    {% endif %}
                                                </div>
                                                <div class="post-detail">
                                                    <header class="entry-header">
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <h3 class="entry-title">
                                                                    <form id="read-more-about-resource-{{resource.resource_id}}" action="/read-more-about-resource/" method="post">
                                                                        {% csrf_token %}
                                                                        <input type="hidden" value={{resource.resource_id}}
                                                                            name="resourceID">
                                                                        <a  href="#" onclick="document.getElementById('read-more-about-resource-{{resource.resource_id}}').submit()">{{resource.resource_name}}</a>
                                                                    </form>
                                                                    <hr>
                                                                </h3>
                                                                <ul>
                                                                    <li><strong>OEM</strong> {{resource.OEM}}</li>
                                                                    <li><strong>Resource ID:</strong>
                                                                        {{resource.resource_id}}</li>
                                                                    {% if admin %}
                                                                    <li><strong>Unit cost:</strong> <i
                                                                            class="fa fa-rupee"></i> {{resource.unit_cost}}
                                                                    </li>
                                                                    {% endif %}
                                                                </ul>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <ul>
                                                                    <br><br><br><br>

                                                                    <li><strong>Quantity/Licenses</strong>
                                                                        {{resource.quantity}}</li>
                                                                    <li><strong>Type </strong> {{resource.resource_type}}
                                                                    </li>
                                                                    <li><strong>Department </strong>
                                                                        {{resource.department_name}}</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </header>
                                                    <div class="entry-content">
                                                        <p><strong>Location</strong> {{resource.location}},
                                                            {{resource.department_name}}</p>

                                                        <p>{{resource.about|truncatechars:200}}</p>
                                                    </div>
                                                    <form action="/read-more-about-resource/" method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" value={{resource.resource_id}}
                                                            name="resourceID">
                                                        <input class="btn btn-dark-gray" type="submit"
                                                            value="Read More"></input>
                                                    </form>
                                                    <hr>
                                                    {% if admin %}
                                                    <form action="/issue-resource/" method="post">
                                                        {% csrf_token %}
                                                        <div id="autocomplete{{resource.resource_id}}" class="autocomplete">
                                                            <input type="email" name="emailID" id="autocomplete"
                                                                autocomplete="off" placeholder="Email ID for issuing" required></input>
                                                            <ul class="autocomplete-result-list"></ul>
                                                        </div>
                                                        <br>
                                                        <input class="btn btn-dark-gray" type="submit"
                                                            value="Issue"></input>
                                                        <input type="hidden" value={{resource.resource_id}}
                                                            name="resourceID">

                                                        <script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
                                                        <script>
                                                            new Autocomplete('#autocomplete{{resource.resource_id}}', {
                                                                search: input => {
                                                                    console.log(input)
                                                                    const url =
                                                                        `search-email-ids/?emailID=${input}`
                                                                    return new Promise(resolve => {
                                                                        fetch(url)
                                                                            .then(response => {
                                                                                console.log(
                                                                                    response)
                                                                                return response
                                                                                    .json()
                                                                            })
                                                                            .then(data => {
                                                                                console.log(data)
                                                                                resolve(data.data)
                                                                            })
                                                                    })
                                                                }
                                                            })
                                                        </script>
                                                    </form>
                                                    <form action="/update-resource/" method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="toUpdatePage" value="YES">
                                                        <input type="hidden" value={{resource.resource_id}}
                                                            name="resourceID">
                                                        <button type="submit" class="btn pull-right"><i class="fa fa-edit"
                                                                aria-hidden="true"></i></button>
                                                    </form>
                                                    {% endif %}
                                                    </footer>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                            <hr>
                                            <br><br><br><br><br><br><br><br><br><br>
                                        </section>
                                        </div>
                                    </ul>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-3 col-md-pull-9">
                                <aside id="secondary" class="sidebar widget-area" data-accordion-group>
                                    <div class="widget widget_related_search open" data-accordion>
                                        <h4 class="widget-title" data-control>Related Searches</h4>
                                        <div data-content>
                                            <div data-accordion>
                                                <h5 class="widget-sub-title" data-control>Subject</h5>
                                                <div class="widget_categories" data-content>
                                                    <!-- <ul>
                                                        <li><a href="#">stories <span>(18)</span></a></li>
                                                        <li><a href="#">Texas <span>(04)</span></a></li>
                                                        <li><a href="#">Rich people <span>(03)</span></a></li>
                                                        <li><a href="#">Humorous stories <span>(02)</span></a></li>
                                                        <li><a href="#">Widows <span>(02)</span></a></li>
                                                        <li><a href="#">Women <span>(11)</span></a></li>
                                                        <li><a href="#">Babysitters <span>(25)</span></a></li>
                                                        <li><a href="#">Law firms <span>(09)</span></a></li>
                                                    </ul> -->
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <!-- End: Books & Media Section -->
{% endblock %}