{% extends 'base/base.html' %}
{% load static %}


{% block content %}
    <!-- Start: Slider Section -->
    <div data-ride="carousel" class="carousel slide" id="home-v1-header-carousel">

        <!-- Carousel slides -->
        <div class="carousel-inner">
            <div class="item active">
                <figure>
                    <img alt="Home Slide" src="{% static 'images/header-slider/home-v1/rvceGate.jpg' %}" />
                </figure>
                <div class="container">
                    <div class="carousel-caption">
                        <h3>Online Resource finder</h3>
                        <h2>Research Resource Portal</h2>
                        <p>Easily find resources available in college for Research purpose</p>
                        <div class="slide-buttons hidden-sm hidden-xs">
                            <a href="#welcome-text" class="btn btn-primary">Read More</a>
                            <a href="#follow-us" class="btn btn-default">Follow us</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <figure>
                    <img alt="Home Slide" src="{% static 'images/header-slider/home-v1/rvceGate.jpg' %}" />
                </figure>
                <div class="container">
                    <div class="carousel-caption">
                        <h3>Online Resource finder</h3>
                        <h2>Research Resource Portal</h2>
                        <p>Easily find resources available in college for Research purpose</p>
                        <div class="slide-buttons hidden-sm hidden-xs">
                            <a href="#welcome-text" class="btn btn-primary">Read More</a>
                            <a href="#follow-us" class="btn btn-default">Follow us</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <figure>
                    <img alt="Home Slide" src="{% static 'images/header-slider/home-v1/rvceGate.jpg' %}" />
                </figure>
                <div class="container">
                    <div class="carousel-caption">
                        <h3>Online Resource finder</h3>
                        <h2>Research Resource Portal</h2>
                        <p>Easily find resources available in college for Research purpose</p>
                        <div class="slide-buttons hidden-sm hidden-xs">
                            <a href="#welcome-text" class="btn btn-primary">Read More</a>
                            <a href="#follow-us" class="btn btn-default">Follow us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#home-v1-header-carousel" data-slide="prev"></a>
        <a class="right carousel-control" href="#home-v1-header-carousel" data-slide="next"></a>
    </div>
    <!-- End: Slider Section -->

    <!-- <div class="row"> -->
        <!-- Start: Search Section -->
        <section class="search-filters">
            <div class="container">
                <div class="filter-box">
                    <h3>What are you looking for at the Portal?</h3>
                    <form action="/generic-resources-list-view/" method="post">
                        {% csrf_token %}
                        <div class="col-md-4 col-sm-6">
                            <div class="form-group">
                                <!-- <label class="sr-only" for="keywords">Search by Keyword</label> -->
                                <input class="form-control" placeholder="Search by Keyword"
                                    id="keywords" name="keywords" type="text">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="form-group">
                                <!-- <label class="sr-only" for="keywords">Search by Resource ID</label> -->
                                <input class="form-control" placeholder="Search by Resource ID"
                                    id="keywords" name="resourceID" type="text">
                            </div>
                        </div>
                        <!-- <div class="col-md-4 col-sm-6">
                            <div class="form-group"> -->
                        <!-- <label class="sr-only" for="keywords">Search by Original Equipment manufacturer</label> -->
                        <!-- <input class="form-control" placeholder="Search by Department"
                                    id="keywords" name="departmentName" type="text">
                            </div> -->
                        <!-- </div> -->
                        <div class="col-md-4 col-sm-6">
                            <div class="form-group">
                                <select name="departmentName" required>
                                    <option value="All departments">All departments</option>
                                    <option value="ASE">Aerospace Engineering</option>
                                    <option value="BT">Biotechnology</option>
                                    <option value="CHE">Chemical Engineering</option>
                                    <option value="CE">Civil Engineering</option>
                                    <option value="CSE">Computer Science and Engineering</option>
                                    <option value="EEE">Electrical and Electronics Engineering
                                    </option>
                                    <option value="ECE">Electronics and Communication Engineering
                                    </option>
                                    <option value="EIE">Electronics and Instrumentation Engineering
                                    </option>
                                    <option value="IEM">Industrial Engineering and Management
                                    </option>
                                    <option value="ISE">Information Science and Engineering</option>
                                    <option value="MCA">Master of Computer Applications</option>
                                    <option value="ME">Mechanical Engineering</option>
                                    <option value="TE">Electronics and Telecommunication Engineering
                                        (Telecommunication Engineering)</option>
                                    <option value="BS">Basic Sciences</option>
                                    <option value="AI&ML">Artificial Intelligence & Machine Learning
                                    </option>
                                </select>
                            </div>
                        </div>

                        {% if admin %}
                        <div class="col-md-4 col-sm-6">
                            <div class="form-group">
                                <!-- <label class="sr-only" for="keywords">Search by Resource ID</label> -->
                                <input class="form-control" placeholder="Cost (Upper bound)"
                                    id="keywords" name="costUpperBound" type="number">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="form-group">
                                <!-- <label class="sr-only" for="keywords">Search by Resource ID</label> -->
                                <input class="form-control" placeholder="Cost (Lower bound)"
                                    id="keywords" name="costLowerBound" type="number">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="form-group">
                                <input class="form-control" placeholder="Purchase date"
                                    id="keywords" name="purchaseDate" type="date">
                            </div>
                        </div>
                        {% endif %}
                        <div class="col-md-2 col-sm-6">
                            <div class="form-group">
                                <input class="form-control" type="submit" value="Search">
                            </div>
                        </div>
                        <br><br><br><br>
                        {% if searchedQuery %}
                        <strong>Showing results for</strong>
                        {% if searchedQuery.keywords %}

                        "{{searchedQuery.keywords}}"
                        {% endif %}

                        {% if searchedQuery.resourceID %}
                        <strong>Resource ID =</strong> {{searchedQuery.resourceID}}
                        {% endif %}

                        {% if searchedQuery.departmentName %}
                        <strong>Department Name as</strong> {{searchedQuery.departmentName}}
                        {% endif %}

                        {% if admin %}
                        <br>
                        {% if searchedQuery.costLowerBound %}
                        <strong>Minimum cost</strong> = {{searchedQuery.costLowerBound}}
                        {% endif %}

                        {% if searchedQuery.costUpperBound %}
                        <strong>Maximum cost</strong> = {{searchedQuery.costUpperBound}}
                        {% endif %}

                        {% endif %}
                        <!-- {% if searchedQuery.resourceID %}
                        Resource ID = {{searchedQuery.resourceID}}
                        {% endif %} -->
                        {% endif %}
                        <br>
                        <!-- <a href="{% url 'print-searched-query' %}">Print</a> -->

                    </form>
                    {% if admin %}
                    <form action="/print-searched-query" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="query" value={{resources}}>
                        <!-- {{resources}} -->
                        <input class="form-control" value="{{searchedQuery.resourceID}}"
                            name="resourceID" type="hidden">
                        <input class="form-control" value="{{searchedQuery.keywords}}"
                            name="keywords" type="hidden">
                        <input class="form-control" value="{{searchedQuery.departmentName}}"
                            name="departmentName" type="hidden">
                        <input class="form-control" value="{{searchedQuery.costUpperBound}}"
                            name="costUpperBound" type="hidden">
                        <input class="form-control" value="{{searchedQuery.costLowerBound}}"
                            name="costLowerBound" type="hidden">
                        <input class="form-control" value="{{searchedQuery.purchaseDate}}"
                            name="purchaseDate" type="hidden">
                        <input type="submit" class="pull-right" value="Print"></input>
                    </form>
                    {% endif %}
                </div>
            </div>
        </section>
        <!-- End: Search Section -->
    <!-- </div> -->

    <!-- Start: Welcome Section -->
    <section class="welcome-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="welcome-wrap">
                        <div class="welcome-text" id="welcome-text">
                            <h2 class="section-title">Welcome to Research Resource Portal</h2>
                            <span class="underline left"></span>
                            <p class="lead">Made by the students of RV College of Engineering, Bengaluru</p>
                            <p>Students and teachers who are interested in research often don't have proper knowledge
                                about the resources college possesses, thereby people have trouble locating down any
                                kind of software tools or hardware components which will be required by them in their
                                research work. So to make things easier, an online portal dedicated solely for the
                                purpose of storing and displaying data of all the resources in the college which might
                                be required in the research work.</p>
                            <a class="btn btn-dark-gray" href="#follow-us">Follow us</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="facts-counter">
                        <ul>
                            <li class="bg-light-green">
                                <div class="fact-item">
                                    <div class="fact-icon">
                                        <i class="ebook"></i>
                                    </div>
                                    <span>Users<strong class="fact-counter">{{portalGlobalInformation.users}}</strong></span>
                                </div>
                            </li>
                            <li class="bg-green">
                                <div class="fact-item">
                                    <div class="fact-icon">
                                        <i class="eaudio"></i>
                                    </div>
                                    <span>Resources<strong class="fact-counter">{{portalGlobalInformation.resources}}</strong></span>
                                </div>
                            </li>
                            <li class="bg-red">
                                <div class="fact-item">
                                    <div class="fact-icon">
                                        <i class="magazine"></i>
                                    </div>
                                    <span>Departments<strong class="fact-counter">12</strong></span>
                                </div>
                            </li>
                            <li class="bg-blue">
                                <div class="fact-item">
                                    <div class="fact-icon">
                                        <!-- <i class="videos"></i> -->
                                        <i class="fa fa-resource fa-3x"></i>
                                    </div>
                                    <span>Admins<strong class="fact-counter">{{portalGlobalInformation.admins}}</strong></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="welcome-image"></div>
    </section>
    <!-- End: Welcome Section -->

{% endblock %}