{% extends 'base/base.html' %}
{% load static %}


{% block content %}
    <!-- Start: Slider Section -->
    <div data-ride="carousel" class="carousel slide" id="home-v1-header-carousel">

        <!-- Carousel slides -->
        <div class="carousel-inner">
            <div class="item active">
                <figure>
                    <img alt="Home Slide" src="{% static 'images/header-slider/home-v1/rvceGate.jpg' %}" />
                </figure>
                <div class="container">
                    <div class="carousel-caption">
                        <h3>Online Resource finder</h3>
                        <h2>Research Resource Portal</h2>
                        <p>Easily find resources available in college for Research purpose</p>
                        <div class="slide-buttons hidden-sm hidden-xs">
                            <a href="#welcome-text" class="btn btn-primary">Read More</a>
                            <a href="#follow-us" class="btn btn-default">Follow us</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <figure>
                    <img alt="Home Slide" src="{% static 'images/header-slider/home-v1/rvceGate.jpg' %}" />
                </figure>
                <div class="container">
                    <div class="carousel-caption">
                        <h3>Online Resource finder</h3>
                        <h2>Research Resource Portal</h2>
                        <p>Easily find resources available in college for Research purpose</p>
                        <div class="slide-buttons hidden-sm hidden-xs">
                            <a href="#welcome-text" class="btn btn-primary">Read More</a>
                            <a href="#follow-us" class="btn btn-default">Follow us</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <figure>
                    <img alt="Home Slide" src="{% static 'images/header-slider/home-v1/ashwa.png' %}" />
                </figure>
                <div class="container">
                    <div class="carousel-caption">
                        <h3>Online Resource finder</h3>
                        <h2>Research Resource Portal</h2>
                        <p>Easily find resources available in college for Research purpose</p>
                        <div class="slide-buttons hidden-sm hidden-xs">
                            <a href="#welcome-text" class="btn btn-primary">Read More</a>
                            <a href="#follow-us" class="btn btn-default">Follow us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#home-v1-header-carousel" data-slide="prev"></a>
        <a class="right carousel-control" href="#home-v1-header-carousel" data-slide="next"></a>
    </div>
    <!-- End: Slider Section -->

    <!-- Start: Search Section -->
    <section class="search-filters">
        <div class="container">
            <div class="filter-box">
                <h3>What are you looking for at the Portal?</h3>
                <form action="http://libraria.demo.presstigers.com/index.html" method="get">
                    <div class="col-md-4 col-sm-6">
                        <div class="form-group">
                            <label class="sr-only" for="keywords">Search by Keyword</label>
                            <input class="form-control" placeholder="Search by Keyword" id="keywords" name="keywords"
                                type="text">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="form-group">
                            <select name="catalog" id="catalog" class="form-control">
                                <option>Search the Catalog</option>
                                <option>Catalog 01</option>
                                <option>Catalog 02</option>
                                <option>Catalog 03</option>
                                <option>Catalog 04</option>
                                <option>Catalog 05</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="form-group">
                            <select name="category" id="category" class="form-control">
                                <option>All Categories</option>
                                <option>Category 01</option>
                                <option>Category 02</option>
                                <option>Category 03</option>
                                <option>Category 04</option>
                                <option>Category 05</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="form-group">
                            <input class="form-control" type="submit" value="Search">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- End: Search Section -->

    <!-- Start: Welcome Section -->
    <section class="welcome-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="welcome-wrap">
                        <div class="welcome-text" id="welcome-text">
                            <h2 class="section-title">Welcome to Research Resource Portal</h2>
                            <span class="underline left"></span>
                            <p class="lead">Made by the students of RV College of Engineering, Bengaluru</p>
                            <p>Students and teachers who are interested in research often don't have proper knowledge
                                about the resources college possesses, thereby people have trouble locating down any
                                kind of software tools or hardware components which will be required by them in their
                                research work. So to make things easier, an online portal dedicated solely for the
                                purpose of storing and displaying data of all the resources in the college which might
                                be required in the research work.</p>
                            <a class="btn btn-primary" href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="facts-counter">
                        <ul>
                            <li class="bg-light-green">
                                <div class="fact-item">
                                    <div class="fact-icon">
                                        <i class="ebook"></i>
                                    </div>
                                    <span>Users<strong class="fact-counter">2</strong></span>
                                </div>
                            </li>
                            <li class="bg-green">
                                <div class="fact-item">
                                    <div class="fact-icon">
                                        <i class="eaudio"></i>
                                    </div>
                                    <span>Resources<strong class="fact-counter">100</strong></span>
                                </div>
                            </li>
                            <li class="bg-red">
                                <div class="fact-item">
                                    <div class="fact-icon">
                                        <i class="magazine"></i>
                                    </div>
                                    <span>Departments<strong class="fact-counter">12</strong></span>
                                </div>
                            </li>
                            <li class="bg-blue">
                                <div class="fact-item">
                                    <div class="fact-icon">
                                        <i class="videos"></i>
                                    </div>
                                    <span>Admins<strong class="fact-counter">12</strong></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="welcome-image"></div>
    </section>
    <!-- End: Welcome Section -->

{% endblock %}