{% load static %}

<!DOCTYPE html>
<html lang="zxx">
    

<head>        
        
        <!-- Meta -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
        
        <!-- Title -->
        <title>..:: RESEARCH RESOURCE PORTAL ::..</title>
        
        <!-- Favicon -->
        <link href="{% static 'images/favicon.ico' %}" rel="icon" type="image/x-icon" />
        <!-- <link href="{% static 'js/bootstrap.min.css' %}" rel="stylesheet"> -->
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7CLato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet" />
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
        
        <!-- Mobile Menu -->
        <link href="{% static 'css/mmenu.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/mmenu.positioning.css' %}" rel="stylesheet" type="text/css" />
        
        <!-- Stylesheet -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
    
    <body>
        <!-- Start: Header Section -->
        <header id="header-v1" class="navbar-wrapper">
            <div class="container">
                <div class="row">
                    <nav class="navbar navbar-default">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="navbar-header">
                                    <div class="navbar-brand">
                                        <h1>
                                            <a href="index-2.html">
                                                <img src="https://rvce.edu.in/sites/default/files/logo_0.png" alt="rvce logo" />
                                            </a>
                                        </h1>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <!-- Header Topbar -->
                                <div class="header-topbar hidden-sm hidden-xs">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="topbar-info">
                                                <a href="tel:+91 9876543210"><i class="fa fa-phone"></i>+91 9876543210</a>
                                                <span>/</span>
                                                <a href="mailto:support@rrp.com"><i class="fa fa-envelope"></i>support@rrp.com</a>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="topbar-links">
                                                
                                                <div class="header-cart dropdown">
                                                    
                                                    {% if username %}
                                                        <a href="#"><i class="fa fa-user"></i>Hi, {{username}}
                                                        {% if admin %}
                                                         (ADMIN)
                                                        {% endif %}
                                                        </a>

                                                        <div class="dropdown-menu cart-dropdown">
                                                            <ul>
                                                                <li><a href="{% url 'user-resources' %}">Borrowed resources</a></li>

                                                                <!-- <li class="clearfix">
                                                                    <img src="images/header-cart-image-03.jpg" alt="cart item" />
                                                                    <div class="item-info">
                                                                        <div class="name">
                                                                            <a href="#">The Great Gatsby</a>
                                                                        </div>
                                                                        <div class="author"><strong>Author:</strong> F. Scott Fitzgerald</div>
                                                                        <div class="price">1 X $10.00</div>
                                                                    </div>
                                                                    <a class="remove" href="#"><i class="fa fa-trash-o"></i></a>
                                                                </li> -->
                                                            </ul>
                                                            <!-- <div class="cart-total">
                                                                <div class="title">SubTotal</div>
                                                                <div class="price">$30.00</div>
                                                            </div> -->
                                                            
                                                            <div class="cart-buttons">
                                                                {% if admin %}
                                                                <a href="{% url 'downloadLogs' %}" class="btn btn-dark-gray"><i class="fa fa-bars"></i> Logs</a>
                                                                {% else %}
                                                                <a href="cart.html" class="btn btn-dark-gray">View Cart</a>
                                                                {% endif %}
                                                                <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
                                                            </div>
                                                        </div>

                                                    {% else %}

                                                        <a href="{%  url 'signin' %}"><i class="fa fa-lock"></i>Login / Register</a>
                                                        <!-- <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                                            <i class="fa fa-shopping-cart"></i> 
                                                            <small>0</small> 
                                                        </a> -->
                                                    {% endif %}       
                                                                   
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="navbar-collapse hidden-sm hidden-xs">
                                    <ul class="nav navbar-nav">
                                        <li class="dropdown active">
                                            <a data-toggle="dropdown" class="dropdown-toggle disabled" href="">Home</a>
                                            <!-- <ul class="dropdown-menu">
                                                <li><a href="index-2.html">Home V1</a></li>
                                                <li><a href="home-v2.html">Home V2</a></li>
                                                <li><a href="home-v3.html">Home V3</a></li>
                                            </ul> -->
                                        </li>
                                        <li class="dropdown">
                                            <a data-toggle="dropdown" class="dropdown-toggle disabled" href="{%  url 'generic-resources-list-view' %}">Resources</a>
                                            <!-- <ul class="dropdown-menu">
                                                <li><a href="generic-resources-list-view.html">Books &amp; Media List View</a></li>
                                                <li><a href="books-media-gird-view-v1.html">Books &amp; Media Grid View V1</a></li>
                                                <li><a href="books-media-gird-view-v2.html">Books &amp; Media Grid View V2</a></li>
                                                <li><a href="books-media-detail-v1.html">Books &amp; Media Detail V1</a></li>
                                                <li><a href="books-media-detail-v2.html">Books &amp; Media Detail V2</a></li>
                                            </ul> -->
                                        </li>
                                        <li><a href="{% url 'services' %}">Services</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="mobile-menu hidden-lg hidden-md">
                            <a href="#mobile-menu"><i class="fa fa-navicon"></i></a>
                            <div id="mobile-menu">
                                <ul>
                                    <li class="mobile-title">
                                        <h4>Navigation</h4>
                                        <a href="#" class="close"></a>
                                    </li>
                                    <li>
                                        
                                    {% if username %}
                                    <hr>
                                    <a href="#">Hi, {{username}}
                                        {% if admin %}
                                        (ADMIN)
                                        {% endif %}
                                        <div class="cart-buttons">
                                            <button onclick="cart.html" class="btn btn-dark-gray">View Cart</button>
                                            <button onclick="location.href = `{% url 'logout' %}`" class="btn btn-primary">Logout</button>
                                        </div>
                                    </a>
                                    <hr>
                                    {% endif %}
                                    
                                    </li>
                                    <li>
                                        <a href="index-2.html">Home</a>
                                        <!-- <ul>
                                            <li><a href="index-2.html">Home V1</a></li>
                                            <li><a href="home-v2.html">Home V2</a></li>
                                            <li><a href="home-v3.html">Home V3</a></li>
                                        </ul> -->
                                    </li>
                                    
                                    


                                    <li>
                                        <a href="generic-resources-list-view.html">Books &amp; Media</a>
                                        <!-- <ul>
                                            <li><a href="generic-resources-list-view.html">Books &amp; Media List View</a></li>
                                            <li><a href="books-media-gird-view-v1.html">Books &amp; Media Grid View V1</a></li>
                                            <li><a href="books-media-gird-view-v2.html">Books &amp; Media Grid View V2</a></li>
                                            <li><a href="books-media-detail-v1.html">Books &amp; Media Detail V1</a></li>
                                            <li><a href="books-media-detail-v2.html">Books &amp; Media Detail V2</a></li>
                                        </ul> -->
                                    </li>
                                    <li><a href="services.html">Services</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <!-- End: Header Section -->
        
        <!-- Start: Slider Section -->
        <div data-ride="carousel" class="carousel slide" id="home-v1-header-carousel">
            
            <!-- Carousel slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <figure>
                        <img alt="Home Slide" src="{% static 'images/header-slider/home-v1/rvceGate.jpg' %}" />
                    </figure>
                    <div class="container">
                        <div class="carousel-caption">
                            <h3>Online Resource finder</h3>
                            <h2>Research Resource Portal</h2>
                            <p>Easily find resources available in college for Reasearch purpose</p>
                            <div class="slide-buttons hidden-sm hidden-xs">    
                                <a href="#" class="btn btn-primary">Read More</a>
                                <a href="#" class="btn btn-default">Purchase</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <figure>
                        <img alt="Home Slide" src="{% static 'images/header-slider/home-v1/rvceGate.jpg' %}" />
                    </figure>
                    <div class="container">
                        <div class="carousel-caption">
                            <h3>Online Resource finder</h3>
                            <h2>Research Resource Portal</h2>
                            <p>Easily find resources available in college for Reasearch purpose</p>
                            <div class="slide-buttons hidden-sm hidden-xs">    
                                <a href="#" class="btn btn-primary">Read More</a>
                                <a href="#" class="btn btn-default">Purchase</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <figure>
                        <img alt="Home Slide" src="{% static 'images/header-slider/home-v1/ashwa.png' %}" />
                    </figure>
                    <div class="container">
                        <div class="carousel-caption">
                            <h3>Online Resource finder</h3>
                            <h2>Research Resource Portal</h2>
                            <p>Easily find resources available in college for Reasearch purpose</p>
                            <div class="slide-buttons hidden-sm hidden-xs">    
                                <a href="#" class="btn btn-primary">Read More</a>
                                <a href="#" class="btn btn-default">Purchase</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Controls -->
            <a class="left carousel-control" href="#home-v1-header-carousel" data-slide="prev"></a>
            <a class="right carousel-control" href="#home-v1-header-carousel" data-slide="next"></a>
        </div>
        <!-- End: Slider Section -->
        
        <!-- Start: Search Section -->
        <section class="search-filters">
            <div class="container">
                <div class="filter-box">
                    <h3>What are you looking for at the Portal?</h3>
                    <form action="http://libraria.demo.presstigers.com/index.html" method="get">
                        <div class="col-md-4 col-sm-6">
                            <div class="form-group">
                                <label class="sr-only" for="keywords">Search by Keyword</label>
                                <input class="form-control" placeholder="Search by Keyword" id="keywords" name="keywords" type="text">
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <select name="catalog" id="catalog" class="form-control">
                                    <option>Search the Catalog</option>
                                    <option>Catalog 01</option>
                                    <option>Catalog 02</option>
                                    <option>Catalog 03</option>
                                    <option>Catalog 04</option>
                                    <option>Catalog 05</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <select name="category" id="category" class="form-control">
                                    <option>All Categories</option>
                                    <option>Category 01</option>
                                    <option>Category 02</option>
                                    <option>Category 03</option>
                                    <option>Category 04</option>
                                    <option>Category 05</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <div class="form-group">
                                <input class="form-control" type="submit" value="Search">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!-- End: Search Section -->
        
        <!-- Start: Welcome Section -->
        <section class="welcome-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="welcome-wrap">
                            <div class="welcome-text">
                                <h2 class="section-title">Welcome to Research Resource Portal</h2>
                                <span class="underline left"></span>
                                <p class="lead">The standard chunk of Lorem Ipsum used since</p>
                                <p>Students and teachers who are interested in research often don’t have proper knowledge about the resources college possesses, thereby people have trouble locating down any kind of software tools or hardware components which will be required by them in their research work. So to make things easier, an online portal dedicated solely for the purpose of storing and displaying data of all the resources in the college which might be required in the research work.</p>
                                <a class="btn btn-primary" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="facts-counter">
                            <ul>
                                <li class="bg-light-green">
                                    <div class="fact-item">
                                        <div class="fact-icon">
                                            <i class="ebook"></i>
                                        </div>
                                        <span>eBooks<strong class="fact-counter">45780</strong></span>
                                    </div>
                                </li>
                                <li class="bg-green">
                                    <div class="fact-item">
                                        <div class="fact-icon">
                                            <i class="eaudio"></i>
                                        </div>
                                        <span>eAudio<strong class="fact-counter">32450</strong></span>
                                    </div>
                                </li>
                                <li class="bg-red">
                                    <div class="fact-item">
                                        <div class="fact-icon">
                                            <i class="magazine"></i>
                                        </div>
                                        <span>Magazine<strong class="fact-counter">14450</strong></span>
                                    </div>
                                </li>
                                <li class="bg-blue">
                                    <div class="fact-item">
                                        <div class="fact-icon">
                                            <i class="videos"></i>
                                        </div>
                                        <span>Videos<strong class="fact-counter">32450</strong></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="welcome-image"></div>
        </section>
        <!-- End: Welcome Section -->
        
        
        <!-- Start: Features -->
        <section class="features">
            <div class="container">
                <ul>
                    <li class="bg-yellow">
                        <div class="feature-box">
                            <i class="yellow"></i>
                            <h3>Books</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dolor turpis, pulvinar varius dui id, convallis iaculis eros.</p>
                            <a class="yellow" href="#">
                                View Selection <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </li>
                    <li class="bg-light-green">
                        <div class="feature-box">
                            <i class="light-green"></i>
                            <h3>eBooks</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dolor turpis, pulvinar varius dui id, convallis iaculis eros.</p>
                            <a class="light-green" href="#">
                                View Selection <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </li>
                    <li class="bg-blue">
                        <div class="feature-box">
                            <i class="blue"></i>
                            <h3>DVDs</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dolor turpis, pulvinar varius dui id, convallis iaculis eros.</p>
                            <a class="blue" href="#">
                                View Selection <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </li>
                    <li class="bg-red">
                        <div class="feature-box">
                            <i class="red"></i>
                            <h3>Magazines</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dolor turpis, pulvinar varius dui id, convallis iaculis eros.</p>
                            <a class="red" href="#">
                                View Selection <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </li>
                    <li class="bg-violet">
                        <div class="feature-box">
                            <i class="violet"></i>
                            <h3>Audio</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dolor turpis, pulvinar varius dui id, convallis iaculis eros.</p>
                            <a class="violet" href="#">
                                View Selection <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </li>
                    <li class="bg-green">
                        <div class="feature-box">
                            <i class="green"></i>
                            <h3>eAudio</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dolor turpis, pulvinar varius dui id, convallis iaculis eros.</p>
                            <a class="green" href="#">
                                View Selection <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
       
        <!-- Start: Social Network -->
        <section class="social-network section-padding">
            <div class="container">
                <div class="center-content">
                    <h2 class="section-title">Follow Us</h2>
                    <span class="underline center"></span>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <ul>
                    <li>
                        <a class="facebook" href="#" target="_blank">
                            <span>
                                <i class="fa fa-facebook-f"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="twitter" href="#" target="_blank">
                            <span>
                                <i class="fa fa-twitter"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="google" href="#" target="_blank">
                            <span>
                                <i class="fa fa-google-plus"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="rss" href="#" target="_blank">
                            <span>
                                <i class="fa fa-rss"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="linkedin" href="#" target="_blank">
                            <span>
                                <i class="fa fa-linkedin"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="youtube" href="#" target="_blank">
                            <span>
                                <i class="fa fa-youtube"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <!-- End: Social Network -->
        
        <!-- Start: Footer -->
        <footer class="site-footer">
            <div class="container">
                <div id="footer-widgets">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 widget-container">
                            <div id="text-2" class="widget widget_text">
                                <h3 class="footer-widget-title">About Reasearch Resoucre portal</h3>
                                <span class="underline left"></span>
                                <div class="textwidget">
                                    It is a long established fact that a reader will be distracted by the readable content of a page when looking.
                                </div>
                                <address>
                                    <div class="info">
                                        <i class="fa fa-location-arrow"></i>
                                        <span>21 King Street, Melbourne, Victoria 3000 Australia</span>
                                    </div>
                                    <div class="info">
                                        <i class="fa fa-envelope"></i>
                                        <span><a href="mailto:support@libraria.com">support@libraria.com</a></span>
                                    </div>
                                    <div class="info">
                                        <i class="fa fa-phone"></i>
                                        <span><a href="tel:012-345-6789">+ 012-345-6789</a></span>
                                    </div>
                                </address>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 widget-container">
                            <div id="nav_menu-2" class="widget widget_nav_menu">
                                <h3 class="footer-widget-title">Quick Links</h3>
                                <span class="underline left"></span>
                                <div class="menu-quick-links-container">
                                    <ul id="menu-quick-links" class="menu">
                                        <li><a href="#">Library News</a></li>
                                        <li><a href="#">History</a></li>
                                        <li><a href="#">Meet Our Staff</a></li>
                                        <li><a href="#">Board of Trustees</a></li>
                                        <li><a href="#">Budget</a></li>
                                        <li><a href="#">Annual Report</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix hidden-lg hidden-md hidden-xs tablet-margin-bottom"></div>
                        <div class="col-md-2 col-sm-6 widget-container">
                            <div id="text-4" class="widget widget_text">
                                <h3 class="footer-widget-title">Timing</h3>
                                <span class="underline left"></span>
                                <div class="timming-text-widget">
                                    <time datetime="2017-02-13">Mon - Thu: 9 am - 9 pm</time>
                                    <time datetime="2017-02-13">Fri: 9 am - 6 pm</time>
                                    <time datetime="2017-02-13">Sat: 9 am - 5 pm</time>
                                    <time datetime="2017-02-13">Sun: 1 pm - 6 pm</time>
                                    <ul>
                                        <li><a href="#">Closings</a></li>
                                        <li><a href="#">Branches</a></li>
                                    </ul>
                                </div>
                            </div>			
                        </div>
                        <!-- <div class="col-md-4 col-sm-6 widget-container">
                            <div class="widget twitter-widget">
                                <h3 class="footer-widget-title">Latest Tweets</h3>
                                <span class="underline left"></span>
                                <div id="twitter-feed">
                                    <ul>
                                        <li>
                                            <p><a href="#">@TemplateLibraria</a> Sed ut perspiciatis unde omnis iste natus error sit voluptatem. <a href="#">template-libraria.com</a></p>
                                        </li>
                                        <li>
                                            <p><a href="#">@TemplateLibraria</a> Sed ut perspiciatis unde omnis iste natus error sit voluptatem. <a href="#">template-libraria.com</a></p>
                                        </li>
                                    </ul>
                                </div>
                            </div>			
                        </div> -->
                    </div>
                </div>                
            </div>
            <div class="sub-footer">
                <div class="container">
                    <div class="row">
                        <div class="footer-text col-md-3">
                            <p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p>
                        </div>
                        <div class="col-md-9 pull-right">
                            <ul>
                                <li><a href="index-2.html">Home</a></li>
                                <li><a href="generic-resources-list-view.html">Resources</a></li>
                                <li><a href="services.html">Services</a></li>
                                <li><a href="#">Research</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End: Footer -->
        
        <!-- jQuery Latest Version 1.x -->
        <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
        
        <!-- jQuery UI -->
        <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
        
        <!-- jQuery Easing -->
        <script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js' %}"></script>

        <!-- Bootstrap -->
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        
        <!-- Mobile Menu -->
        <script type="text/javascript" src="{% static 'js/mmenu.min.js' %}"></script>
        
        <!-- Harvey - State manager for media queries -->
        <script type="text/javascript" src="{% static 'js/harvey.min.js' %}"></script>
        
        <!-- Waypoints - Load Elements on View -->
        <script type="text/javascript" src="{% static 'js/waypoints.min.js' %}"></script>

        <!-- Facts Counter -->
        <script type="text/javascript" src="{% static 'js/facts.counter.min.js' %}"></script>

        <!-- MixItUp - Category Filter -->
        <script type="text/javascript" src="{% static 'js/mixitup.min.js' %}"></script>

        <!-- Owl Carousel -->
        <script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
        
        <!-- Accordion -->
        <script type="text/javascript" src="{% static 'js/accordion.min.js' %}"></script>
        
        <!-- Responsive Tabs -->
        <script type="text/javascript" src="{% static 'js/responsive.tabs.min.js' %}"></script>
        
        <!-- Responsive Table -->
        <script type="text/javascript" src="{% static 'js/responsive.table.min.js' %}"></script>
        
        <!-- Masonry -->
        <script type="text/javascript" src="{% static 'js/masonry.min.js' %}"></script>
        
        <!-- Carousel Swipe -->
        <script type="text/javascript" src="{% static 'js/carousel.swipe.min.js' %}"></script>
        
        <!-- bxSlider -->
        <script type="text/javascript" src="{% static 'js/bxslider.min.js' %}"></script>
        
        <!-- Custom Scripts -->
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
        
    </body>


</html>